In [3]:
import pandas as pd
data=pd.read_excel(r'C:\Users\User\Downloads\TEST TASK1_Net.xlsx')

In [13]:
data.head(10)

,user_id,install_date,country,test_group,trial,paid,subscription_name,revenue_1m
0,0000dd3fa4702a63d1b76aaffe1ab39b,2023-06-05,US,treatment,0,0,NaN,0.0
1,0001f27ab7e22228e54c8b2028b43f24,2023-06-07,AU,treatment,0,0,NaN,0.0
2,0006c5c547801308b36ea3cf669856ae,2023-06-07,AU,treatment,0,0,NaN,0.0
3,000d1a300263c5db91cbefa3852898a7,2023-06-07,AU,control,0,0,NaN,0.0
4,000e5e62e8746e467ed9f49ac5de3208,2023-06-06,US,treatment,0,0,NaN,0.0
5,000e65027879059fe2a814be4ff21316,2023-06-04,CA,treatment,0,0,NaN,0.0
6,000eb23cf1caf152d9b8d4ec2441e085,2023-06-02,AU,control,0,0,NaN,0.0
7,0013a6c091188301710271b8195a999a,2023-06-03,GB,treatment,0,0,NaN,0.0
8,001f99c190cb677eadbbe144a5c7eb02,2023-06-01,CA,treatment,0,0,NaN,0.0
9,002066ee39aacf3dbe4294be1a08bd77,2023-06-06,GB,control,0,0,NaN,0.0

In [23]:
data.info

<bound method DataFrame.info of                                 user_id install_date country test_group  \
0      0000dd3fa4702a63d1b76aaffe1ab39b   2023-06-05      US  treatment
1      0001f27ab7e22228e54c8b2028b43f24   2023-06-07      AU  treatment
2      0006c5c547801308b36ea3cf669856ae   2023-06-07      AU  treatment
3      000d1a300263c5db91cbefa3852898a7   2023-06-07      AU    control
4      000e5e62e8746e467ed9f49ac5de3208   2023-06-06      US  treatment
...                                 ...          ...     ...        ...
15280  ffeef2252b1e6f9084eb9eefdb72461b   2023-06-04      AU    control
15281  ffef2243e364f6d53cf5bee90473a4d7   2023-06-06      CA  treatment
15282  fff046eac6fd5329dd1fe44ad5e162cb   2023-06-07      US  treatment
15283  fff32685daea5e16da8f1243f40467a0   2023-06-01      GB  treatment
15284  fffa5bebb66f89cc5b2456bd4a18388d   2023-06-05      CA    control

       trial  paid      subscription_name  revenue_1m
0          0     0                    NaN         0.0
1          0     0                    NaN         0.0
2          0     0                    NaN         0.0
3          0     0                    NaN         0.0
4          0     0                    NaN         0.0
...      ...   ...                    ...         ...
15280      1     0  monthly.5.99.3d.trial         0.0
15281      0     0                    NaN         0.0
15282      0     0                    NaN         0.0
15283      0     0                    NaN         0.0
15284      0     0                    NaN         0.0

[15285 rows x 8 columns]>

Виведення кількості користувачів у групах

In [31]:
users_group_treatment = data[data['test_group'] == 'treatment']['user_id'].nunique()
users_group_control = data[data['test_group'] == 'control']['user_id'].nunique()

print(f'Кількість користувачів в групі treatment: {users_group_treatment}')
print(f'Кількість користувачів в групі control: {users_group_control}')

Кількість користувачів в групі treatment: 7658
Кількість користувачів в групі control: 7627

 Кількість paid у групах

In [38]:
users_paid_group_treatment = data[data['test_group'] == 'treatment']['paid'].sum()
users_paid_group_control = data[data['test_group'] == 'control']['paid'].sum()

print(f'Кількість конверсій в групі treatment: {users_paid_group_treatment}')
print(f'Кількість конверсій в групі control: {users_paid_group_control}')

Кількість конверсій в групі treatment: 149
Кількість конверсій в групі control: 116

 Кількість trial у групах

In [44]:
users_trial_group_treatment = data[data['test_group'] == 'treatment']['trial'].sum()
users_trial_group_control = data[data['test_group'] == 'control']['trial'].sum()

print(f'Кількість конверсій в групі treatment: {users_trial_group_treatment}')
print(f'Кількість конверсій в групі control: {users_trial_group_control}')

Кількість конверсій в групі treatment: 798
Кількість конверсій в групі control: 925

Рівень конверсії у групах

In [49]:
conversion_rate_group_treatment = users_paid_group_treatment / users_trial_group_treatment
conversion_rate_group_control = users_paid_group_control / users_trial_group_control

print(f'Рівень конверсії в групі treatment: {conversion_rate_group_treatment:.2%}')
print(f'Рівень конверсії в групі control: {conversion_rate_group_control:.2%}')

Рівень конверсії в групі treatment: 18.67%
Рівень конверсії в групі control: 12.54%

Використовуємо т-тест Стьюдента для незалежних вибірок

In [56]:
from scipy.stats import ttest_ind
t_stat, p_value_t = ttest_ind(data[data['test_group'] == 'treatment']['paid'], 
                              data[data['test_group'] == 'control']['paid'])
print(f'Значення статистики t: {t_stat}')
print(f'P-value: {p_value_t}')
alpha = 0.05
if p_value_t < alpha:
    print('Відхиляємо нульову гіпотезу: існує статистично значуща різниця')
else:
    print('Не відхиляємо нульову гіпотезу: немає статистично значущої різниці')

Значення статистики t: 2.011811841988339
P-value: 0.04425729220718672
Відхиляємо нульову гіпотезу: існує статистично значуща різниця

Використовуємо точний тест Фішера

In [59]:
from scipy.stats import fisher_exact
contingency_table = pd.crosstab(data['test_group'], data['paid'])
odds_ratio, p_value_fisher = fisher_exact(contingency_table)
print(f'Odds Ratio: {odds_ratio}')
print(f'P-value: {p_value_fisher}')
alpha = 0.05
if p_value_fisher < alpha:
    print('Відхиляємо нульову гіпотезу: існує статистично значуща різниця')
else:
    print('Не відхиляємо нульову гіпотезу: немає статистично значущої різниці')

Odds Ratio: 1.2848248768144892
P-value: 0.047291088272186324
Відхиляємо нульову гіпотезу: існує статистично значуща різниця

Total_revenue

In [70]:
total_revenue_treatment = data[data['test_group'] == 'treatment']['revenue_1m'].sum()
total_revenue_control = data[data['test_group'] == 'control']['revenue_1m'].sum()
print(f'total_revenue_treatment: {total_revenue_treatment}')
print(f'total_revenue_control: {total_revenue_control}')

total_revenue_treatment: 792.35
total_revenue_control: 694.84

ARPPU

In [72]:
arppu_treatment = total_revenue_treatment / users_paid_group_treatment
arppu_control = total_revenue_control / users_paid_group_control

print(f'ARPPU_treatment: {arppu_treatment:.2}')
print(f'ARPPU_control: {arppu_control:.2}')

ARPPU_treatment: 5.3
ARPPU_control: 6.0